.hidden-element {
  display: none !important;
  visibility: hidden !important;
}
@media (min-width: 1200px) {
  .hidden-lg,
  .visible-xs,
  .visible-sm,
  .visible-md {
    display: none !important;
    visibility: hidden !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md,
  .visible-xs,
  .visible-sm,
  .visible-lg {
    display: none !important;
    visibility: hidden !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm,
  .visible-xs,
  .visible-md,
  .visible-lg {
    display: none !important;
    visibility: hidden !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs,
  .visible-sm,
  .visible-md,
  .visible-lg {
    display: none !important;
    visibility: hidden !important;
  }
}
body {
  margin: 0;
  font-family: 'Merriweather', serif;
  font-size: 12px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway', sans-serif;
}
.clearfix {
  clear: both;
}
.clearfix:before,
.clearfix:after {
  clear: both;
  display: table;
  content: " ";
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.row {
  margin-left: 15px;
  margin-right: 15px;
}
.row-padding {
  padding-left: 15px;
  padding-right: 15px;
}
.img-circle {
  border-radius: 50%;
}
figure {
  margin: 10px 25px;
}
header {
  background-color: #000;
  height: 400px;
  width: 100%;
  color: white;
  background: url('/assets/img/header-bg.png') no-repeat fixed;
  background-size: 156%;
}
header section {
  padding: 10px 0px;
  margin-left: 15px;
  margin-right: 15px;
}
header a {
  color: white;
}
header .logo-container {
  width: 40%;
  float: left;
}
header .logo-container .logo {
  font-size: 31px;
  float: left;
  line-height: 22px;
  color: black;
}
header .logo-container .logo-brand {
  font-family: 'Raleway', sans-serif;
  height: 45px;
  width: 45px;
  position: absolute;
  overflow: hidden;
  padding: 10px;
  background: white;
}
header .logo-container .logo-name {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  margin-left: 80px;
  margin-top: 12px;
}
header nav.navbar {
  width: 425px;
  float: right;
  margin-top: 16px;
}
header nav.navbar ul {
  padding: 0 2px;
  border-radius: 2px;
  list-style: none;
  position: relative;
  top: -12px;
  display: inline-table;
  z-index: 20;
}
header nav.navbar ul:after {
  content: "";
  clear: both;
  display: block;
}
header nav.navbar ul li {
  float: left;
}
header nav.navbar ul li a {
  display: block;
  padding: 7px 15px;
  text-decoration: none;
}
@media (max-width: 767px) {
  header nav.navbar {
    width: 100px;
  }
  header .logo-container {
    width: 60%;
  }
}
@media (max-width: 515px) {
  header .logo-container .logo-name {
    display: none !important;
    visibility: hidden !important;
  }
}
@media (max-width: 767px) {
  header {
    height: 230px;
  }
}
main {
  margin: 0 auto;
}
main .page {
  margin: 45px 75px;
}
main aside {
  float: left;
  position: relative;
  background: #fff;
  width: 230px;
  z-index: 10;
}
main aside section {
  margin: 0px 15px;
  border-bottom: 1px solid #7E7E7E;
}
main aside section .description {
  padding: 10px 0px;
}
main article {
  margin-left: 240px;
}
main article .img-list {
  width: 100%;
  margin: 0 auto;
}
main article .img-list .img-li {
  width: 30%;
  float: left;
  margin: 10px;
}
main article .img-list .img-li img {
  max-width: 100%;
  max-height: 100%;
}
@media (min-width: 768px) and (max-width: 991px) {
  main article .img-list .img-li {
    width: 25%;
  }
}
@media (max-width: 767px) {
  main article {
    margin-left: 0px;
  }
  main aside {
    float: none;
  }
}
footer {
  clear: both;
}
footer .footnote {
  margin: 0 auto;
  background: #282829;
  color: #fff;
  min-height: 225px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
}
footer .footnote .about-us {
  width: 70%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
footer .footnote .about-us h3 {
  color: #7E7E7E;
}
footer .footnote .contact {
  width: 20%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
footer .footnote .contact h3 {
  color: #7E7E7E;
}
footer .copyright {
  clear: both;
  background: #000;
  color: #7E7E7E;
}
footer .copyright section {
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
